USE [master]
GO
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'NexaWorksDB')
BEGIN
    CREATE DATABASE [NexaWorksDB]
END
GO
USE [NexaWorksDB]
GO
/****** Object:  Table [dbo].[Compatibilite]    Script Date: 26/02/2026 09:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compatibilite](
	[VersionId] [int] NOT NULL,
	[OSId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VersionId] ASC,
	[OSId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 26/02/2026 09:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemeExploitation]    Script Date: 26/02/2026 09:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemeExploitation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 26/02/2026 09:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreation] [datetime] NOT NULL,
	[DateResolution] [datetime] NULL,
	[Statut] [varchar](50) NOT NULL,
	[Probleme] [text] NOT NULL,
	[Resolution] [text] NULL,
	[VersionId] [int] NOT NULL,
	[OSId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 26/02/2026 09:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [varchar](50) NOT NULL,
	[ProduitId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Compatibilite] ([VersionId], [OSId]) VALUES (1, 1)
INSERT [dbo].[Compatibilite] ([VersionId], [OSId]) VALUES (1, 3)
INSERT [dbo].[Compatibilite] ([VersionId], [OSId]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Produit] ON 

INSERT [dbo].[Produit] ([Id], [Nom]) VALUES (1, N'Trader en Herbe')
INSERT [dbo].[Produit] ([Id], [Nom]) VALUES (2, N'Maître des Investissements')
INSERT [dbo].[Produit] ([Id], [Nom]) VALUES (3, N'Planificateur d''Entraînement')
SET IDENTITY_INSERT [dbo].[Produit] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemeExploitation] ON 

INSERT [dbo].[SystemeExploitation] ([Id], [Nom]) VALUES (1, N'Linux')
INSERT [dbo].[SystemeExploitation] ([Id], [Nom]) VALUES (2, N'MacOS')
INSERT [dbo].[SystemeExploitation] ([Id], [Nom]) VALUES (3, N'Windows')
SET IDENTITY_INSERT [dbo].[SystemeExploitation] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([Id], [DateCreation], [DateResolution], [Statut], [Probleme], [Resolution], [VersionId], [OSId]) VALUES (1, CAST(N'2025-01-12T00:00:00.000' AS DateTime), CAST(N'2026-01-15T00:00:00.000' AS DateTime), N'Résolu', N'L''application ne se lance pas si le chemin d''installation contient des caractères spéciaux.', N'Mise à jour encodage UTF-8.', 1, 3)
INSERT [dbo].[Ticket] ([Id], [DateCreation], [DateResolution], [Statut], [Probleme], [Resolution], [VersionId], [OSId]) VALUES (2, CAST(N'2026-02-12T00:00:00.000' AS DateTime), NULL, N'En cours', N'Ralentissement extrême lors de l''affichage simultané de plus de 5 graphiques.', NULL, 2, 2)
INSERT [dbo].[Ticket] ([Id], [DateCreation], [DateResolution], [Statut], [Probleme], [Resolution], [VersionId], [OSId]) VALUES (3, CAST(N'2025-02-02T00:00:00.000' AS DateTime), CAST(N'2025-02-25T00:00:00.000' AS DateTime), N'Résolu', N'Notifications de seuil non affichées en mode Économie d''énergie.', N'Ajout autorisation arrière-plan.', 3, 4)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Version] ON 

INSERT [dbo].[Version] ([Id], [Numero], [ProduitId]) VALUES (1, N'1.0', 1)
INSERT [dbo].[Version] ([Id], [Numero], [ProduitId]) VALUES (2, N'1.1', 1)
INSERT [dbo].[Version] ([Id], [Numero], [ProduitId]) VALUES (3, N'1.2', 1)
SET IDENTITY_INSERT [dbo].[Version] OFF
GO
ALTER TABLE [dbo].[Compatibilite]  WITH CHECK ADD  CONSTRAINT [FK_Compat_OS] FOREIGN KEY([OSId])
REFERENCES [dbo].[SystemeExploitation] ([Id])
GO
ALTER TABLE [dbo].[Compatibilite] CHECK CONSTRAINT [FK_Compat_OS]
GO
ALTER TABLE [dbo].[Compatibilite]  WITH CHECK ADD  CONSTRAINT [FK_Compat_Version] FOREIGN KEY([VersionId])
REFERENCES [dbo].[Version] ([Id])
GO
ALTER TABLE [dbo].[Compatibilite] CHECK CONSTRAINT [FK_Compat_Version]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Compatibilite] FOREIGN KEY([VersionId], [OSId])
REFERENCES [dbo].[Compatibilite] ([VersionId], [OSId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Compatibilite]
GO
ALTER TABLE [dbo].[Version]  WITH CHECK ADD  CONSTRAINT [FK_Version_Produit] FOREIGN KEY([ProduitId])
REFERENCES [dbo].[Produit] ([Id])
GO
ALTER TABLE [dbo].[Version] CHECK CONSTRAINT [FK_Version_Produit]
GO
USE [master]
GO
